//#region color light
$color-background-light: white;
$color-surface-gradient0-light: #78c1d5ce;
$color-surface-gradient1-light: #bbe7f5ce;
$color-surface-border-light: $color-surface-gradient1-light;
$color-surface-secondary-light: #ffffffaa;
$color-accent-light: #d6a314;
$color-error-light: tomato;
$color-shadow-light: black;
$color-confirm-light: rgb(58, 196, 58);

$color-on-background-light: #222;
$color-on-surface-light: #222;
$color-on-surface-secondary-light: #222;
$color-on-accent-light: white;
$color-on-error-light: white;
$color-on-confirm-light: white;
//#endregion

//#region color dark
$color-background-dark: black;
$color-surface-gradient0-dark: #484848ce;
$color-surface-gradient1-dark: #202020ce;
$color-surface-border-dark: $color-surface-gradient1-dark;
$color-surface-secondary-dark: #000000aa;
$color-accent-dark: #1668ec;
$color-error-dark: tomato;
$color-shadow-dark: black;
$color-confirm-dark: rgb(58, 196, 58);

$color-on-background-dark: #fefefe;
$color-on-surface-dark: #fff;
$color-on-surface-secondary-dark: #fff;
$color-on-accent-dark: #222;
$color-on-error-dark: white;
$color-on-confirm-dark: white;
//#endregion
