@import "./mixin.animations.scss";

.progress-bar {
  display: flex;
  width: 100%;
  padding: 20px;
  user-select: none;

  .step {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    display: block;

    .circle {
      height: 1.8rem;
      width: 1.8rem;
      border: 2px solid var(--color-on-surface);
      display: inline-block;
      position: relative;
      border-radius: 50%;
      line-height: 25px;
      @include transition(all 0.2s ease);

      span {
        font-size: small;
      }

      .fa-check {
        display: none;
      }

      &.active {
        border-color: var(--color-accent);
        background-color: var(--color-accent);

        .fa-check {
          display: inherit;
        }
        span {
          display: none;
        }
        ~ span {
          color: var(--color-accent);
        }
      }
    }

    > span {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 8px;
      margin-inline: 4px;
    }
  }
}

section{
  &.error {
    .step {
      .circle {
        border-color: var(--color-on-error);
  
        &.active {
          border-color: var(--color-on-error);
          background-color: var(--color-on-error);
          ~ span {
            color: var(--color-on-error);
          }
        }
        span, ~ span {
          color: var(--color-on-error);
        }
        div {
          color: var(--color-error);
        }
      }
    }
  }
  &.success {
    .step {
      .circle {
        border-color: var(--color-on-confirm);
  
        &.active {
          border-color: var(--color-on-confirm);
          background-color: var(--color-on-confirm);
          ~ span {
            color: var(--color-on-confirm);
          }
        }
        span, ~ span {
          color: var(--color-on-confirm);
        }
        div {
          color: var(--color-confirm);
        }
      }
    }
  }
  
}