@import './mixin.animations.scss';
@import './style.fonts.scss';
@import './style.theme.background.scss';
@import './style.theme.form.scss';
@import './style.theme.input.scss';
@import './style.theme.switch.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  @include transition(all 0.1s ease-in-out);
}

*,
*:focus,
*:hover {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: var(--color-on-background);
  ~ form {
    color: var(--color-on-surface);
  }
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

p {
  font-size: medium;
}
