@import './style.theme.form.progress.scss';

section {
  min-width: 600px;
  width: 50vw;
  min-height: 50vh;
  height: auto;
  position: absolute;
  display: block;
  text-align: center;
  text-transform: uppercase;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  border-width: 2px;
  border-style: thin;
  border-color: var(--color-surface-border);
  background: var(--color-surface);
  overflow: hidden;
  user-select: none;

  h1 {
    padding: 16px;
  }

  form {
    display: flex;
    width: 300%;
    transition: all 0.3s ease-in-out;

    fieldset {
      display: grid;
      align-items: center;
      align-content: center;
      justify-items: stretch;
      grid-template-columns: 1fr;
      row-gap: 18px;
      border: unset !important;
      width: 100%;
      height: 100%;
      padding: 16px;

      input {
        width: 100%;
        height: 100%;
      }

      span {
        display: flex;
        text-align: left;
        text-transform: lowercase;
        margin-top: -18px;
        margin-left: 4px;
        font-size: smaller;
        font-weight: normal;

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }

    .form-button {
      display: grid;
    }

    :nth-child(n + 2) {
      div.form-button {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
      }
    }

    .form-message {
      display: none;
      &.error {
        color: var(--color-error);
        display: inherit;
      }
      &.info {
        display: inherit;
      }
      &.confirm {
        color: var(--color-confirm);
      }
    }
  }
}
