:root,
body.theme-light {
  color-scheme: light dark;

  --color-base-surface-gradient0: #78c1d5ce;
  --color-base-surface-gradient1: #bbe7f5ce;

  --color-background: white;
  --color-surface: linear-gradient(
    to right,
    var(--color-base-surface-gradient0) 0%,
    var(--color-base-surface-gradient1) 100%
  );
  --color-surface-border: var(--color-base-surface-gradient1);
  --color-surface-secondary: #ffffffaa;
  --color-accent: #d6a314;
  --color-error: tomato;
  --color-shadow: black;
  --color-confirm: rgb(4, 109, 4);

  --color-on-background: #222;
  --color-on-surface: #222;
  --color-on-accent: white;
  --color-on-error: white;
}

:root {
  @media (prefers-color-scheme: dark) {
    --color-base-surface-gradient0: #484848ce;
    --color-base-surface-gradient1: #202020ce;

    --color-background: black;
    --color-surface-secondary: #000000aa;
    --color-accent: #1668ec;
    --color-confirm: rgb(58, 196, 58);

    --color-on-background: #fefefe;
    --color-on-surface: #fff;
    --color-on-accent: #222;
  }
}

body {
  &.theme-dark {
    --color-base-surface-gradient0: #484848ce;
    --color-base-surface-gradient1: #202020ce;

    --color-background: black;
    --color-surface: linear-gradient(
      to right,
      var(--color-base-surface-gradient0) 0%,
      var(--color-base-surface-gradient1) 100%
    );
    --color-surface-secondary: #000000aa;
    --color-surface-border: var(--color-base-surface-gradient1);
    --color-accent: #1668ec;
    --color-confirm: rgb(58, 196, 58);

    --color-on-background: #fefefe;
    --color-on-surface: #fff;
    --color-on-accent: #222;
  }
}
