form {
  width: 50vw;
  height: 70vh;
  position: absolute;
  padding: 1rem;
  left: 0;
  top: 0;
  transform: translate(50%, 30%);
  border-radius: 12px;
  border-width: 2px;
  border-style: thin;
  border-color: var(--color-surface-border);
  background: var(--color-surface);
  opacity: 0.9; }
