:root .switch {
  --color-switch-sun-background: #f5ec59;
  --color-switch-sun-border: #e7c65c;
  --color-switch-sun-dots-background: #fff;
  --color-switch-sun-toggle-color-gradient0: #78c1d5;
  --color-switch-sun-toggle-color-gradient1: #bbe7f5;
  --color-switch-moon-background: #fffdf2;
  --color-switch-moon-dots-background: #efeedb;
  --color-switch-moon-dots-border: #dee2c6;
  --color-switch-moon-toggle-color-gradient0: #484848;
  --color-switch-moon-toggle-color-gradient1: #202020;
  --dimen-switch-margin: 16px;
  --dimen-switch-width: 7.5rem;
  --dimen-switch-width-half: calc(var(--dimen-switch-width) * 0.5);
  --dimen-switch-height: 4rem;
  --dimen-switch-border-width: 0.25rem;
  --dimen-switch-border-radius: 2.5rem;
  --dimen-switch-dots: 1rem;
  --dimen-switch-dots-top: 3px;
  --dimen-switch-dots-left: 23px;
  --dimen-switch-dots-before-after: var(--dimen-switch-border-width);
  --dimen-switch-dots-top-after: -4px;
  --dimen-switch-dots-left-after: -26px;
  --dimen-switch-dots-top-before: 18px;
  --dimen-switch-dots-left-before: -10px;
  --dimen-switch-dots-sun: 1.5rem;
  --dimen-switch-dots-sun-before: 0.4rem;
  --dimen-switch-dots-sun-after: 0.65rem;
  --dimen-switch-dots-sun-top: 0px;
  --dimen-switch-dots-sun-left: -20px;
  --dimen-switch-dots-sun-top-after: 2px;
  --dimen-switch-dots-sun-left-after: -12px;
  --dimen-switch-dots-sun-top-before: 6px;
  --dimen-switch-dots-sun-left-before: 14px;
  --dimen-switch-rotate: 25deg;
  --dimen-switch-sun-mon: 3rem;
  --dimen-switch-sun-mon-margin: 0.5rem; }

.switch {
  position: relative;
  margin: var(--dimen-switch-margin);
  overflow: hidden;
  width: var(--dimen-switch-width);
  height: var(--dimen-switch-height);
  user-select: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
  .switch input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0; }
    .switch input:checked ~ .sun-moon {
      left: calc(100% - var(--dimen-switch-width-half));
      background: var(--color-switch-sun-background);
      border-color: var(--color-switch-sun-border);
      -webkit-transform: rotate(calc(var(--dimen-switch-rotate) * -1));
      -moz-transform: rotate(calc(var(--dimen-switch-rotate) * -1));
      -ms-transform: rotate(calc(var(--dimen-switch-rotate) * -1));
      -o-transform: rotate(calc(var(--dimen-switch-rotate) * -1));
      transform: rotate(calc(var(--dimen-switch-rotate) * -1)); }
      .switch input:checked ~ .sun-moon .dots,
      .switch input:checked ~ .sun-moon .dots:after,
      .switch input:checked ~ .sun-moon .dots:before {
        background: var(--color-switch-sun-dots-background);
        border-color: var(--color-switch-sun-dots-background); }
      .switch input:checked ~ .sun-moon .dots {
        height: var(--dimen-switch-dots-sun);
        width: var(--dimen-switch-dots-sun);
        top: var(--dimen-switch-dots-sun-top);
        left: var(--dimen-switch-dots-sun-left);
        -webkit-transform: rotate(var(--dimen-switch-rotate));
        -moz-transform: rotate(var(--dimen-switch-rotate));
        -ms-transform: rotate(var(--dimen-switch-rotate));
        -o-transform: rotate(var(--dimen-switch-rotate));
        transform: rotate(var(--dimen-switch-rotate)); }
        .switch input:checked ~ .sun-moon .dots:after {
          height: var(--dimen-switch-dots-sun-after);
          width: var(--dimen-switch-dots-sun-after);
          top: var(--dimen-switch-dots-sun-top-after);
          left: var(--dimen-switch-dots-sun-left-after); }
        .switch input:checked ~ .sun-moon .dots:before {
          height: var(--dimen-switch-dots-sun-before);
          width: var(--dimen-switch-dots-sun-before);
          top: var(--dimen-switch-dots-sun-top-before);
          left: var(--dimen-switch-dots-sun-left-before); }
    .switch input:checked ~ .background {
      border: var(--dimen-switch-border-width) solid var(--color-switch-sun-toggle-color-gradient0);
      background: linear-gradient(to right, var(--color-switch-sun-toggle-color-gradient0) 0%, var(--color-switch-sun-toggle-color-gradient1) 100%); }
  .switch label {
    cursor: pointer;
    user-select: none; }
    .switch label .sun-moon {
      z-index: 2;
      position: absolute;
      left: 0;
      display: inline-block;
      height: var(--dimen-switch-sun-mon);
      width: var(--dimen-switch-sun-mon);
      margin: var(--dimen-switch-sun-mon-margin);
      background: var(--color-switch-moon-background);
      border-radius: 50%;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      border: var(--dimen-switch-border-width) solid var(--color-switch-moon-dots-border); }
      .switch label .sun-moon .dots {
        position: absolute;
        top: var(--dimen-switch-dots-top);
        left: var(--dimen-switch-dots-left);
        height: var(--dimen-switch-dots);
        width: var(--dimen-switch-dots);
        background: var(--color-switch-moon-dots-background);
        border: var(--dimen-switch-border-width) solid var(--color-switch-moon-dots-border);
        border-radius: 50%;
        -webkit-transition: 0.4s all ease;
        -moz-transition: 0.4s all ease;
        -ms-transition: 0.4s all ease;
        -o-transition: 0.4s all ease;
        transition: 0.4s all ease; }
        .switch label .sun-moon .dots:after {
          top: var(--dimen-switch-dots-top-after);
          left: var(--dimen-switch-dots-left-after); }
        .switch label .sun-moon .dots:before {
          top: var(--dimen-switch-dots-top-before);
          left: var(--dimen-switch-dots-left-before); }
        .switch label .sun-moon .dots:after, .switch label .sun-moon .dots:before {
          position: absolute;
          content: '';
          display: block;
          height: var(--dimen-switch-dots-before-after);
          width: var(--dimen-switch-dots-before-after);
          background: var(--color-switch-moon-dots-background);
          border: var(--dimen-switch-border-width) solid var(--color-switch-moon-dots-border);
          border-radius: 50%;
          -webkit-transition: 0.4s all ease;
          -moz-transition: 0.4s all ease;
          -ms-transition: 0.4s all ease;
          -o-transition: 0.4s all ease;
          transition: 0.4s all ease; }
  .switch .background {
    z-index: 1;
    position: absolute;
    width: var(--dimen-switch-width);
    height: var(--dimen-switch-height);
    border-radius: var(--dimen-switch-border-radius);
    border: var(--dimen-switch-border-width) solid var(--color-switch-moon-toggle-color-gradient1);
    background: linear-gradient(to right, var(--color-switch-moon-toggle-color-gradient0) 0%, var(--color-switch-moon-toggle-color-gradient1) 100%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
