body {
  background-image: url("../img/frames/000.png");
  background-color: var(--color-background);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: -10000; }
  body.theme-light {
    -webkit-animation-name: backgroundThemeDay;
    -moz-animation-name: backgroundThemeDay;
    -o-animation-name: backgroundThemeDay;
    animation-name: backgroundThemeDay; }
  body.theme-dark {
    -webkit-animation-name: backgroundThemeNight;
    -moz-animation-name: backgroundThemeNight;
    -o-animation-name: backgroundThemeNight;
    animation-name: backgroundThemeNight; }
  @media (prefers-color-scheme: dark) {
    body {
      background-image: url("../img/frames/039.png"); } }

@keyframes backgroundThemeNight {
  0% {
    background-image: url("../img/frames/001.png"); }
  3% {
    background-image: url("../img/frames/002.png"); }
  5% {
    background-image: url("../img/frames/003.png"); }
  8% {
    background-image: url("../img/frames/004.png"); }
  11% {
    background-image: url("../img/frames/005.png"); }
  13% {
    background-image: url("../img/frames/006.png"); }
  16% {
    background-image: url("../img/frames/007.png"); }
  18% {
    background-image: url("../img/frames/008.png"); }
  21% {
    background-image: url("../img/frames/009.png"); }
  24% {
    background-image: url("../img/frames/010.png"); }
  26% {
    background-image: url("../img/frames/011.png"); }
  29% {
    background-image: url("../img/frames/012.png"); }
  32% {
    background-image: url("../img/frames/013.png"); }
  34% {
    background-image: url("../img/frames/014.png"); }
  37% {
    background-image: url("../img/frames/015.png"); }
  39% {
    background-image: url("../img/frames/016.png"); }
  42% {
    background-image: url("../img/frames/017.png"); }
  45% {
    background-image: url("../img/frames/018.png"); }
  47% {
    background-image: url("../img/frames/019.png"); }
  50% {
    background-image: url("../img/frames/020.png"); }
  53% {
    background-image: url("../img/frames/021.png"); }
  55% {
    background-image: url("../img/frames/022.png"); }
  58% {
    background-image: url("../img/frames/023.png"); }
  61% {
    background-image: url("../img/frames/024.png"); }
  63% {
    background-image: url("../img/frames/025.png"); }
  66% {
    background-image: url("../img/frames/026.png"); }
  68% {
    background-image: url("../img/frames/027.png"); }
  71% {
    background-image: url("../img/frames/028.png"); }
  74% {
    background-image: url("../img/frames/029.png"); }
  76% {
    background-image: url("../img/frames/030.png"); }
  79% {
    background-image: url("../img/frames/031.png"); }
  82% {
    background-image: url("../img/frames/032.png"); }
  84% {
    background-image: url("../img/frames/033.png"); }
  87% {
    background-image: url("../img/frames/034.png"); }
  89% {
    background-image: url("../img/frames/035.png"); }
  92% {
    background-image: url("../img/frames/036.png"); }
  95% {
    background-image: url("../img/frames/037.png"); }
  97% {
    background-image: url("../img/frames/038.png"); }
  100% {
    background-image: url("../img/frames/039.png"); } }

@-webkit-keyframes backgroundThemeNight {
  0% {
    background-image: url("../img/frames/001.png"); }
  3% {
    background-image: url("../img/frames/002.png"); }
  5% {
    background-image: url("../img/frames/003.png"); }
  8% {
    background-image: url("../img/frames/004.png"); }
  11% {
    background-image: url("../img/frames/005.png"); }
  13% {
    background-image: url("../img/frames/006.png"); }
  16% {
    background-image: url("../img/frames/007.png"); }
  18% {
    background-image: url("../img/frames/008.png"); }
  21% {
    background-image: url("../img/frames/009.png"); }
  24% {
    background-image: url("../img/frames/010.png"); }
  26% {
    background-image: url("../img/frames/011.png"); }
  29% {
    background-image: url("../img/frames/012.png"); }
  32% {
    background-image: url("../img/frames/013.png"); }
  34% {
    background-image: url("../img/frames/014.png"); }
  37% {
    background-image: url("../img/frames/015.png"); }
  39% {
    background-image: url("../img/frames/016.png"); }
  42% {
    background-image: url("../img/frames/017.png"); }
  45% {
    background-image: url("../img/frames/018.png"); }
  47% {
    background-image: url("../img/frames/019.png"); }
  50% {
    background-image: url("../img/frames/020.png"); }
  53% {
    background-image: url("../img/frames/021.png"); }
  55% {
    background-image: url("../img/frames/022.png"); }
  58% {
    background-image: url("../img/frames/023.png"); }
  61% {
    background-image: url("../img/frames/024.png"); }
  63% {
    background-image: url("../img/frames/025.png"); }
  66% {
    background-image: url("../img/frames/026.png"); }
  68% {
    background-image: url("../img/frames/027.png"); }
  71% {
    background-image: url("../img/frames/028.png"); }
  74% {
    background-image: url("../img/frames/029.png"); }
  76% {
    background-image: url("../img/frames/030.png"); }
  79% {
    background-image: url("../img/frames/031.png"); }
  82% {
    background-image: url("../img/frames/032.png"); }
  84% {
    background-image: url("../img/frames/033.png"); }
  87% {
    background-image: url("../img/frames/034.png"); }
  89% {
    background-image: url("../img/frames/035.png"); }
  92% {
    background-image: url("../img/frames/036.png"); }
  95% {
    background-image: url("../img/frames/037.png"); }
  97% {
    background-image: url("../img/frames/038.png"); }
  100% {
    background-image: url("../img/frames/039.png"); } }

@keyframes backgroundThemeDay {
  0% {
    background-image: url("../img/frames/038.png"); }
  3% {
    background-image: url("../img/frames/037.png"); }
  5% {
    background-image: url("../img/frames/036.png"); }
  8% {
    background-image: url("../img/frames/035.png"); }
  11% {
    background-image: url("../img/frames/034.png"); }
  13% {
    background-image: url("../img/frames/033.png"); }
  16% {
    background-image: url("../img/frames/032.png"); }
  18% {
    background-image: url("../img/frames/031.png"); }
  21% {
    background-image: url("../img/frames/030.png"); }
  24% {
    background-image: url("../img/frames/029.png"); }
  26% {
    background-image: url("../img/frames/028.png"); }
  29% {
    background-image: url("../img/frames/027.png"); }
  32% {
    background-image: url("../img/frames/026.png"); }
  34% {
    background-image: url("../img/frames/025.png"); }
  37% {
    background-image: url("../img/frames/024.png"); }
  39% {
    background-image: url("../img/frames/023.png"); }
  42% {
    background-image: url("../img/frames/022.png"); }
  45% {
    background-image: url("../img/frames/021.png"); }
  47% {
    background-image: url("../img/frames/020.png"); }
  50% {
    background-image: url("../img/frames/019.png"); }
  53% {
    background-image: url("../img/frames/018.png"); }
  55% {
    background-image: url("../img/frames/017.png"); }
  58% {
    background-image: url("../img/frames/016.png"); }
  61% {
    background-image: url("../img/frames/015.png"); }
  63% {
    background-image: url("../img/frames/014.png"); }
  66% {
    background-image: url("../img/frames/013.png"); }
  68% {
    background-image: url("../img/frames/012.png"); }
  71% {
    background-image: url("../img/frames/011.png"); }
  74% {
    background-image: url("../img/frames/010.png"); }
  76% {
    background-image: url("../img/frames/009.png"); }
  79% {
    background-image: url("../img/frames/008.png"); }
  82% {
    background-image: url("../img/frames/007.png"); }
  84% {
    background-image: url("../img/frames/006.png"); }
  87% {
    background-image: url("../img/frames/005.png"); }
  89% {
    background-image: url("../img/frames/004.png"); }
  92% {
    background-image: url("../img/frames/003.png"); }
  95% {
    background-image: url("../img/frames/002.png"); }
  97% {
    background-image: url("../img/frames/001.png"); }
  100% {
    background-image: url("../img/frames/000.png"); } }

@-webkit-keyframes backgroundThemeDay {
  0% {
    background-image: url("../img/frames/038.png"); }
  3% {
    background-image: url("../img/frames/037.png"); }
  5% {
    background-image: url("../img/frames/036.png"); }
  8% {
    background-image: url("../img/frames/035.png"); }
  11% {
    background-image: url("../img/frames/034.png"); }
  13% {
    background-image: url("../img/frames/033.png"); }
  16% {
    background-image: url("../img/frames/032.png"); }
  18% {
    background-image: url("../img/frames/031.png"); }
  21% {
    background-image: url("../img/frames/030.png"); }
  24% {
    background-image: url("../img/frames/029.png"); }
  26% {
    background-image: url("../img/frames/028.png"); }
  29% {
    background-image: url("../img/frames/027.png"); }
  32% {
    background-image: url("../img/frames/026.png"); }
  34% {
    background-image: url("../img/frames/025.png"); }
  37% {
    background-image: url("../img/frames/024.png"); }
  39% {
    background-image: url("../img/frames/023.png"); }
  42% {
    background-image: url("../img/frames/022.png"); }
  45% {
    background-image: url("../img/frames/021.png"); }
  47% {
    background-image: url("../img/frames/020.png"); }
  50% {
    background-image: url("../img/frames/019.png"); }
  53% {
    background-image: url("../img/frames/018.png"); }
  55% {
    background-image: url("../img/frames/017.png"); }
  58% {
    background-image: url("../img/frames/016.png"); }
  61% {
    background-image: url("../img/frames/015.png"); }
  63% {
    background-image: url("../img/frames/014.png"); }
  66% {
    background-image: url("../img/frames/013.png"); }
  68% {
    background-image: url("../img/frames/012.png"); }
  71% {
    background-image: url("../img/frames/011.png"); }
  74% {
    background-image: url("../img/frames/010.png"); }
  76% {
    background-image: url("../img/frames/009.png"); }
  79% {
    background-image: url("../img/frames/008.png"); }
  82% {
    background-image: url("../img/frames/007.png"); }
  84% {
    background-image: url("../img/frames/006.png"); }
  87% {
    background-image: url("../img/frames/005.png"); }
  89% {
    background-image: url("../img/frames/004.png"); }
  92% {
    background-image: url("../img/frames/003.png"); }
  95% {
    background-image: url("../img/frames/002.png"); }
  97% {
    background-image: url("../img/frames/001.png"); }
  100% {
    background-image: url("../img/frames/000.png"); } }
