@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root,
body.theme-light {
  color-scheme: light dark;
  --color-base-surface-gradient0: #78c1d5ce;
  --color-base-surface-gradient1: #bbe7f5ce;
  --color-background: white;
  --color-surface: linear-gradient(
    to right,
    var(--color-base-surface-gradient0) 0%,
    var(--color-base-surface-gradient1) 100%
  );
  --color-surface-border: var(--color-base-surface-gradient1);
  --color-surface-secondary: #ffffffaa;
  --color-accent: #d6a314;
  --color-error: rgb(245, 59, 26);
  --color-shadow: black;
  --color-confirm: rgb(4, 109, 4);
  --color-on-background: #222;
  --color-on-surface: #222;
  --color-on-accent: white;
  --color-on-error: white; }

@media (prefers-color-scheme: dark) {
  :root {
    --color-base-surface-gradient0: #484848ce;
    --color-base-surface-gradient1: #202020ce;
    --color-background: black;
    --color-surface-secondary: #000000aa;
    --color-accent: #1668ec;
    --color-error: tomato;
    --color-confirm: rgb(58, 196, 58);
    --color-on-background: #fefefe;
    --color-on-surface: #fff;
    --color-on-accent: #222; } }

body.theme-dark {
  --color-base-surface-gradient0: #484848ce;
  --color-base-surface-gradient1: #202020ce;
  --color-background: black;
  --color-surface: linear-gradient(
      to right,
      var(--color-base-surface-gradient0) 0%,
      var(--color-base-surface-gradient1) 100%
    );
  --color-surface-secondary: #000000aa;
  --color-surface-border: var(--color-base-surface-gradient1);
  --color-accent: #1668ec;
  --color-error: tomato;
  --color-confirm: rgb(58, 196, 58);
  --color-on-background: #fefefe;
  --color-on-surface: #fff;
  --color-on-accent: #222; }

body {
  background-image: url("../img/frames/000.png");
  background-color: var(--color-background);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: -10000; }
  body.theme-light {
    -webkit-animation-name: backgroundThemeDay;
    -moz-animation-name: backgroundThemeDay;
    -o-animation-name: backgroundThemeDay;
    animation-name: backgroundThemeDay; }
  body.theme-dark {
    -webkit-animation-name: backgroundThemeNight;
    -moz-animation-name: backgroundThemeNight;
    -o-animation-name: backgroundThemeNight;
    animation-name: backgroundThemeNight; }
  @media (prefers-color-scheme: dark) {
    body {
      background-image: url("../img/frames/039.png"); } }

@keyframes backgroundThemeNight {
  0% {
    background-image: url("../img/frames/001.png"); }
  3% {
    background-image: url("../img/frames/002.png"); }
  5% {
    background-image: url("../img/frames/003.png"); }
  8% {
    background-image: url("../img/frames/004.png"); }
  11% {
    background-image: url("../img/frames/005.png"); }
  13% {
    background-image: url("../img/frames/006.png"); }
  16% {
    background-image: url("../img/frames/007.png"); }
  18% {
    background-image: url("../img/frames/008.png"); }
  21% {
    background-image: url("../img/frames/009.png"); }
  24% {
    background-image: url("../img/frames/010.png"); }
  26% {
    background-image: url("../img/frames/011.png"); }
  29% {
    background-image: url("../img/frames/012.png"); }
  32% {
    background-image: url("../img/frames/013.png"); }
  34% {
    background-image: url("../img/frames/014.png"); }
  37% {
    background-image: url("../img/frames/015.png"); }
  39% {
    background-image: url("../img/frames/016.png"); }
  42% {
    background-image: url("../img/frames/017.png"); }
  45% {
    background-image: url("../img/frames/018.png"); }
  47% {
    background-image: url("../img/frames/019.png"); }
  50% {
    background-image: url("../img/frames/020.png"); }
  53% {
    background-image: url("../img/frames/021.png"); }
  55% {
    background-image: url("../img/frames/022.png"); }
  58% {
    background-image: url("../img/frames/023.png"); }
  61% {
    background-image: url("../img/frames/024.png"); }
  63% {
    background-image: url("../img/frames/025.png"); }
  66% {
    background-image: url("../img/frames/026.png"); }
  68% {
    background-image: url("../img/frames/027.png"); }
  71% {
    background-image: url("../img/frames/028.png"); }
  74% {
    background-image: url("../img/frames/029.png"); }
  76% {
    background-image: url("../img/frames/030.png"); }
  79% {
    background-image: url("../img/frames/031.png"); }
  82% {
    background-image: url("../img/frames/032.png"); }
  84% {
    background-image: url("../img/frames/033.png"); }
  87% {
    background-image: url("../img/frames/034.png"); }
  89% {
    background-image: url("../img/frames/035.png"); }
  92% {
    background-image: url("../img/frames/036.png"); }
  95% {
    background-image: url("../img/frames/037.png"); }
  97% {
    background-image: url("../img/frames/038.png"); }
  100% {
    background-image: url("../img/frames/039.png"); } }

@-webkit-keyframes backgroundThemeNight {
  0% {
    background-image: url("../img/frames/001.png"); }
  3% {
    background-image: url("../img/frames/002.png"); }
  5% {
    background-image: url("../img/frames/003.png"); }
  8% {
    background-image: url("../img/frames/004.png"); }
  11% {
    background-image: url("../img/frames/005.png"); }
  13% {
    background-image: url("../img/frames/006.png"); }
  16% {
    background-image: url("../img/frames/007.png"); }
  18% {
    background-image: url("../img/frames/008.png"); }
  21% {
    background-image: url("../img/frames/009.png"); }
  24% {
    background-image: url("../img/frames/010.png"); }
  26% {
    background-image: url("../img/frames/011.png"); }
  29% {
    background-image: url("../img/frames/012.png"); }
  32% {
    background-image: url("../img/frames/013.png"); }
  34% {
    background-image: url("../img/frames/014.png"); }
  37% {
    background-image: url("../img/frames/015.png"); }
  39% {
    background-image: url("../img/frames/016.png"); }
  42% {
    background-image: url("../img/frames/017.png"); }
  45% {
    background-image: url("../img/frames/018.png"); }
  47% {
    background-image: url("../img/frames/019.png"); }
  50% {
    background-image: url("../img/frames/020.png"); }
  53% {
    background-image: url("../img/frames/021.png"); }
  55% {
    background-image: url("../img/frames/022.png"); }
  58% {
    background-image: url("../img/frames/023.png"); }
  61% {
    background-image: url("../img/frames/024.png"); }
  63% {
    background-image: url("../img/frames/025.png"); }
  66% {
    background-image: url("../img/frames/026.png"); }
  68% {
    background-image: url("../img/frames/027.png"); }
  71% {
    background-image: url("../img/frames/028.png"); }
  74% {
    background-image: url("../img/frames/029.png"); }
  76% {
    background-image: url("../img/frames/030.png"); }
  79% {
    background-image: url("../img/frames/031.png"); }
  82% {
    background-image: url("../img/frames/032.png"); }
  84% {
    background-image: url("../img/frames/033.png"); }
  87% {
    background-image: url("../img/frames/034.png"); }
  89% {
    background-image: url("../img/frames/035.png"); }
  92% {
    background-image: url("../img/frames/036.png"); }
  95% {
    background-image: url("../img/frames/037.png"); }
  97% {
    background-image: url("../img/frames/038.png"); }
  100% {
    background-image: url("../img/frames/039.png"); } }

@keyframes backgroundThemeDay {
  0% {
    background-image: url("../img/frames/038.png"); }
  3% {
    background-image: url("../img/frames/037.png"); }
  5% {
    background-image: url("../img/frames/036.png"); }
  8% {
    background-image: url("../img/frames/035.png"); }
  11% {
    background-image: url("../img/frames/034.png"); }
  13% {
    background-image: url("../img/frames/033.png"); }
  16% {
    background-image: url("../img/frames/032.png"); }
  18% {
    background-image: url("../img/frames/031.png"); }
  21% {
    background-image: url("../img/frames/030.png"); }
  24% {
    background-image: url("../img/frames/029.png"); }
  26% {
    background-image: url("../img/frames/028.png"); }
  29% {
    background-image: url("../img/frames/027.png"); }
  32% {
    background-image: url("../img/frames/026.png"); }
  34% {
    background-image: url("../img/frames/025.png"); }
  37% {
    background-image: url("../img/frames/024.png"); }
  39% {
    background-image: url("../img/frames/023.png"); }
  42% {
    background-image: url("../img/frames/022.png"); }
  45% {
    background-image: url("../img/frames/021.png"); }
  47% {
    background-image: url("../img/frames/020.png"); }
  50% {
    background-image: url("../img/frames/019.png"); }
  53% {
    background-image: url("../img/frames/018.png"); }
  55% {
    background-image: url("../img/frames/017.png"); }
  58% {
    background-image: url("../img/frames/016.png"); }
  61% {
    background-image: url("../img/frames/015.png"); }
  63% {
    background-image: url("../img/frames/014.png"); }
  66% {
    background-image: url("../img/frames/013.png"); }
  68% {
    background-image: url("../img/frames/012.png"); }
  71% {
    background-image: url("../img/frames/011.png"); }
  74% {
    background-image: url("../img/frames/010.png"); }
  76% {
    background-image: url("../img/frames/009.png"); }
  79% {
    background-image: url("../img/frames/008.png"); }
  82% {
    background-image: url("../img/frames/007.png"); }
  84% {
    background-image: url("../img/frames/006.png"); }
  87% {
    background-image: url("../img/frames/005.png"); }
  89% {
    background-image: url("../img/frames/004.png"); }
  92% {
    background-image: url("../img/frames/003.png"); }
  95% {
    background-image: url("../img/frames/002.png"); }
  97% {
    background-image: url("../img/frames/001.png"); }
  100% {
    background-image: url("../img/frames/000.png"); } }

@-webkit-keyframes backgroundThemeDay {
  0% {
    background-image: url("../img/frames/038.png"); }
  3% {
    background-image: url("../img/frames/037.png"); }
  5% {
    background-image: url("../img/frames/036.png"); }
  8% {
    background-image: url("../img/frames/035.png"); }
  11% {
    background-image: url("../img/frames/034.png"); }
  13% {
    background-image: url("../img/frames/033.png"); }
  16% {
    background-image: url("../img/frames/032.png"); }
  18% {
    background-image: url("../img/frames/031.png"); }
  21% {
    background-image: url("../img/frames/030.png"); }
  24% {
    background-image: url("../img/frames/029.png"); }
  26% {
    background-image: url("../img/frames/028.png"); }
  29% {
    background-image: url("../img/frames/027.png"); }
  32% {
    background-image: url("../img/frames/026.png"); }
  34% {
    background-image: url("../img/frames/025.png"); }
  37% {
    background-image: url("../img/frames/024.png"); }
  39% {
    background-image: url("../img/frames/023.png"); }
  42% {
    background-image: url("../img/frames/022.png"); }
  45% {
    background-image: url("../img/frames/021.png"); }
  47% {
    background-image: url("../img/frames/020.png"); }
  50% {
    background-image: url("../img/frames/019.png"); }
  53% {
    background-image: url("../img/frames/018.png"); }
  55% {
    background-image: url("../img/frames/017.png"); }
  58% {
    background-image: url("../img/frames/016.png"); }
  61% {
    background-image: url("../img/frames/015.png"); }
  63% {
    background-image: url("../img/frames/014.png"); }
  66% {
    background-image: url("../img/frames/013.png"); }
  68% {
    background-image: url("../img/frames/012.png"); }
  71% {
    background-image: url("../img/frames/011.png"); }
  74% {
    background-image: url("../img/frames/010.png"); }
  76% {
    background-image: url("../img/frames/009.png"); }
  79% {
    background-image: url("../img/frames/008.png"); }
  82% {
    background-image: url("../img/frames/007.png"); }
  84% {
    background-image: url("../img/frames/006.png"); }
  87% {
    background-image: url("../img/frames/005.png"); }
  89% {
    background-image: url("../img/frames/004.png"); }
  92% {
    background-image: url("../img/frames/003.png"); }
  95% {
    background-image: url("../img/frames/002.png"); }
  97% {
    background-image: url("../img/frames/001.png"); }
  100% {
    background-image: url("../img/frames/000.png"); } }

.progress-bar {
  display: flex;
  width: 100%;
  padding: 20px;
  user-select: none; }
  .progress-bar .step {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    display: block; }
    .progress-bar .step .circle {
      height: 1.8rem;
      width: 1.8rem;
      border: 2px solid var(--color-on-surface);
      display: inline-block;
      position: relative;
      border-radius: 50%;
      line-height: 25px;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .progress-bar .step .circle span {
        font-size: small; }
      .progress-bar .step .circle .fa-check {
        display: none; }
      .progress-bar .step .circle.active {
        border-color: var(--color-accent);
        background-color: var(--color-accent); }
        .progress-bar .step .circle.active .fa-check {
          display: inherit; }
        .progress-bar .step .circle.active span {
          display: none; }
        .progress-bar .step .circle.active ~ span {
          color: var(--color-accent); }
    .progress-bar .step span {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 8px; }

section {
  min-width: 600px;
  width: 50vw;
  min-height: 50vh;
  height: auto;
  position: absolute;
  display: block;
  text-align: center;
  text-transform: uppercase;
  left: 50%;
  top: 50%;
  border-radius: 12px;
  border-width: 2px;
  border-style: thin;
  border-color: var(--color-surface-border);
  background: var(--color-surface);
  overflow: hidden;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  section h1 {
    padding: 16px; }
  section form {
    display: flex;
    width: 300%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    section form fieldset {
      display: grid;
      align-items: center;
      align-content: center;
      justify-items: stretch;
      grid-template-columns: 1fr;
      row-gap: 18px;
      border: unset !important;
      width: 100%;
      height: 100%;
      padding: 16px; }
      section form fieldset input {
        width: 100%;
        height: 100%; }
      section form fieldset span {
        display: flex;
        text-align: left;
        text-transform: lowercase;
        margin-top: -18px;
        margin-left: 4px;
        font-size: smaller;
        font-weight: normal; }
        section form fieldset span::first-letter {
          text-transform: uppercase; }
    section form .form-button {
      display: grid; }
    section form :nth-child(n + 2) div.form-button {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px; }
    section form .form-message {
      display: none; }
      section form .form-message.error {
        color: var(--color-error);
        display: inherit; }
      section form .form-message.info {
        display: inherit; }
      section form .form-message.confirm {
        color: var(--color-confirm); }

input {
  min-width: 250px;
  min-height: 50px;
  padding: 8px;
  background-color: var(--color-background);
  color: var(--color-on-background);
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  border-width: thin;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  input:hover {
    border-width: 1.5px; }
  input:focus {
    border-color: var(--color-accent);
    border-width: 2px;
    caret-color: var(--color-on-background); }
  input:disabled {
    opacity: 0.3;
    pointer-events: none; }
  input.error {
    border-width: 2px;
    border-color: var(--color-error) !important;
    color: var(--color-error); }
    input.error:focus {
      border-width: 3px; }
  input.confirm {
    border-color: var(--color-confirm) !important; }
  input[type='button'], input[type='submit'] {
    text-transform: uppercase;
    border: none;
    box-shadow: 0px 1px 2px var(--color-shadow);
    background-color: var(--color-accent);
    font-weight: bold;
    color: var(--color-on-accent); }
    input[type='button']:hover, input[type='submit']:hover {
      box-shadow: 0px 2px 2px var(--color-shadow);
      cursor: pointer; }
    input[type='button']:active, input[type='submit']:active {
      box-shadow: 0px 1px 1px var(--color-shadow); }
    input[type='button'].btn-outline, input[type='submit'].btn-outline {
      background-color: var(--color-surface-secondary);
      color: var(--color-on-surface); }
  input[type='submit']:active {
    cursor: progress; }

form input {
  background-color: var(--color-surface-secondary); }

form input[type='button'] .btn-outline,
form input[type='submit'] .btn-outline {
  background-color: var(--color-surface-secondary);
  color: var(--color-on-surface); }

form input[type='text'][name$='name'] {
  text-transform: capitalize; }

:root .switch {
  --color-switch-sun-background: #f5ec59;
  --color-switch-sun-border: #e7c65c;
  --color-switch-sun-dots-background: #fff;
  --color-switch-sun-toggle-color-gradient0: #78c1d5;
  --color-switch-sun-toggle-color-gradient1: #bbe7f5;
  --color-switch-moon-background: #fffdf2;
  --color-switch-moon-dots-background: #efeedb;
  --color-switch-moon-dots-border: #dee2c6;
  --color-switch-moon-toggle-color-gradient0: #484848;
  --color-switch-moon-toggle-color-gradient1: #202020;
  --dimen-switch-margin: 16px;
  --dimen-switch-width: 7.5rem;
  --dimen-switch-width-half: calc(var(--dimen-switch-width) * 0.5);
  --dimen-switch-height: 4rem;
  --dimen-switch-border-width: 0.25rem;
  --dimen-switch-border-radius: 2.5rem;
  --dimen-switch-dots: 1rem;
  --dimen-switch-dots-top: 3px;
  --dimen-switch-dots-left: 23px;
  --dimen-switch-dots-before-after: var(--dimen-switch-border-width);
  --dimen-switch-dots-top-after: -4px;
  --dimen-switch-dots-left-after: -26px;
  --dimen-switch-dots-top-before: 18px;
  --dimen-switch-dots-left-before: -10px;
  --dimen-switch-dots-sun: 1.5rem;
  --dimen-switch-dots-sun-before: 0.4rem;
  --dimen-switch-dots-sun-after: 0.65rem;
  --dimen-switch-dots-sun-top: 0px;
  --dimen-switch-dots-sun-left: -20px;
  --dimen-switch-dots-sun-top-after: 2px;
  --dimen-switch-dots-sun-left-after: -12px;
  --dimen-switch-dots-sun-top-before: 6px;
  --dimen-switch-dots-sun-left-before: 14px;
  --dimen-switch-rotate: 25deg;
  --dimen-switch-sun-mon: 3rem;
  --dimen-switch-sun-mon-margin: 0.5rem; }

.switch {
  position: relative;
  margin: var(--dimen-switch-margin);
  overflow: hidden;
  width: var(--dimen-switch-width);
  height: var(--dimen-switch-height);
  user-select: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
  .switch input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0; }
    .switch input:checked ~ .sun-moon {
      left: calc(100% - var(--dimen-switch-width-half));
      background: var(--color-switch-sun-background);
      border-color: var(--color-switch-sun-border);
      -webkit-transform: rotate(calc(var(--dimen-switch-rotate) * -1));
      -moz-transform: rotate(calc(var(--dimen-switch-rotate) * -1));
      -ms-transform: rotate(calc(var(--dimen-switch-rotate) * -1));
      -o-transform: rotate(calc(var(--dimen-switch-rotate) * -1));
      transform: rotate(calc(var(--dimen-switch-rotate) * -1)); }
      .switch input:checked ~ .sun-moon .dots,
      .switch input:checked ~ .sun-moon .dots:after,
      .switch input:checked ~ .sun-moon .dots:before {
        background: var(--color-switch-sun-dots-background);
        border-color: var(--color-switch-sun-dots-background); }
      .switch input:checked ~ .sun-moon .dots {
        height: var(--dimen-switch-dots-sun);
        width: var(--dimen-switch-dots-sun);
        top: var(--dimen-switch-dots-sun-top);
        left: var(--dimen-switch-dots-sun-left);
        -webkit-transform: rotate(var(--dimen-switch-rotate));
        -moz-transform: rotate(var(--dimen-switch-rotate));
        -ms-transform: rotate(var(--dimen-switch-rotate));
        -o-transform: rotate(var(--dimen-switch-rotate));
        transform: rotate(var(--dimen-switch-rotate)); }
        .switch input:checked ~ .sun-moon .dots:after {
          height: var(--dimen-switch-dots-sun-after);
          width: var(--dimen-switch-dots-sun-after);
          top: var(--dimen-switch-dots-sun-top-after);
          left: var(--dimen-switch-dots-sun-left-after); }
        .switch input:checked ~ .sun-moon .dots:before {
          height: var(--dimen-switch-dots-sun-before);
          width: var(--dimen-switch-dots-sun-before);
          top: var(--dimen-switch-dots-sun-top-before);
          left: var(--dimen-switch-dots-sun-left-before); }
    .switch input:checked ~ .background {
      border: var(--dimen-switch-border-width) solid var(--color-switch-sun-toggle-color-gradient0);
      background: linear-gradient(to right, var(--color-switch-sun-toggle-color-gradient0) 0%, var(--color-switch-sun-toggle-color-gradient1) 100%); }
  .switch label {
    cursor: pointer;
    user-select: none; }
    .switch label .sun-moon {
      z-index: 2;
      position: absolute;
      left: 0;
      display: inline-block;
      height: var(--dimen-switch-sun-mon);
      width: var(--dimen-switch-sun-mon);
      margin: var(--dimen-switch-sun-mon-margin);
      background: var(--color-switch-moon-background);
      border-radius: 50%;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      border: var(--dimen-switch-border-width) solid var(--color-switch-moon-dots-border); }
      .switch label .sun-moon .dots {
        position: absolute;
        top: var(--dimen-switch-dots-top);
        left: var(--dimen-switch-dots-left);
        height: var(--dimen-switch-dots);
        width: var(--dimen-switch-dots);
        background: var(--color-switch-moon-dots-background);
        border: var(--dimen-switch-border-width) solid var(--color-switch-moon-dots-border);
        border-radius: 50%;
        -webkit-transition: 0.4s all ease;
        -moz-transition: 0.4s all ease;
        -ms-transition: 0.4s all ease;
        -o-transition: 0.4s all ease;
        transition: 0.4s all ease; }
        .switch label .sun-moon .dots:after {
          top: var(--dimen-switch-dots-top-after);
          left: var(--dimen-switch-dots-left-after); }
        .switch label .sun-moon .dots:before {
          top: var(--dimen-switch-dots-top-before);
          left: var(--dimen-switch-dots-left-before); }
        .switch label .sun-moon .dots:after, .switch label .sun-moon .dots:before {
          position: absolute;
          content: '';
          display: block;
          height: var(--dimen-switch-dots-before-after);
          width: var(--dimen-switch-dots-before-after);
          background: var(--color-switch-moon-dots-background);
          border: var(--dimen-switch-border-width) solid var(--color-switch-moon-dots-border);
          border-radius: 50%;
          -webkit-transition: 0.4s all ease;
          -moz-transition: 0.4s all ease;
          -ms-transition: 0.4s all ease;
          -o-transition: 0.4s all ease;
          transition: 0.4s all ease; }
  .switch .background {
    z-index: 1;
    position: absolute;
    width: var(--dimen-switch-width);
    height: var(--dimen-switch-height);
    border-radius: var(--dimen-switch-border-radius);
    border: var(--dimen-switch-border-width) solid var(--color-switch-moon-toggle-color-gradient1);
    background: linear-gradient(to right, var(--color-switch-moon-toggle-color-gradient0) 0%, var(--color-switch-moon-toggle-color-gradient1) 100%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

*,
*:focus,
*:hover {
  outline: none; }

html,
body {
  width: 100%;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: var(--color-on-background); }
  h1 ~ form,
  h2 ~ form,
  h3 ~ form,
  h4 ~ form,
  h5 ~ form,
  h6 ~ form,
  p ~ form,
  span ~ form {
    color: var(--color-on-surface); }

h1 {
  font-size: xx-large; }

h2 {
  font-size: x-large; }

h3 {
  font-size: large; }

p {
  font-size: medium; }
