.progress-bar {
  display: flex;
  width: 100%;
  padding: 20px;
  user-select: none; }
  .progress-bar .step {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    display: block; }
    .progress-bar .step .circle {
      height: 1.8rem;
      width: 1.8rem;
      border: 2px solid var(--color-on-surface);
      display: inline-block;
      position: relative;
      border-radius: 50%;
      transition: all 0.2s ease;
      line-height: 25px; }
      .progress-bar .step .circle span {
        font-size: small; }
      .progress-bar .step .circle .fa-check {
        display: none; }
      .progress-bar .step .circle.active {
        border-color: var(--color-accent);
        background-color: var(--color-accent); }
        .progress-bar .step .circle.active .fa-check {
          display: inherit; }
        .progress-bar .step .circle.active span {
          display: none; }
        .progress-bar .step .circle.active ~ span {
          color: var(--color-accent); }
    .progress-bar .step span {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 8px; }

section {
  min-width: 600px;
  width: 50vw;
  min-height: 50vh;
  height: auto;
  position: absolute;
  display: block;
  text-align: center;
  text-transform: uppercase;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  border-width: 2px;
  border-style: thin;
  border-color: var(--color-surface-border);
  background: var(--color-surface);
  overflow: hidden; }
  section h1 {
    padding: 16px; }
  section form {
    display: flex;
    width: 300%;
    transition: all 0.3s ease-in-out; }
    section form fieldset {
      display: grid;
      align-items: center;
      align-content: center;
      justify-items: stretch;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(60px, auto);
      row-gap: 10px;
      border: unset !important;
      width: 100%;
      height: 100%;
      padding: 16px; }
      section form fieldset input {
        width: 100%;
        height: 100%; }
      section form fieldset span {
        display: flex;
        text-align: left;
        text-transform: lowercase;
        margin: 10px;
        margin-top: 0px;
        font-size: smaller;
        font-weight: normal; }
        section form fieldset span::first-letter {
          text-transform: uppercase; }
    section form .form-button {
      display: grid; }
    section form :nth-child(n + 2) div.form-button {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px; }
    section form .form-message {
      display: none; }
      section form .form-message.error {
        color: var(--color-error);
        display: inherit; }
      section form .form-message.info {
        display: inherit; }
      section form .form-message.confirm {
        color: var(--color-confirm); }
